*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}



.container {
    height: 500px;
    width: 900px;
    display: flex;
}

.box{
    height: 500px;
    width: 33%;
}
.box-1{
    background-color: orange;
    color: white;
}
.box-2{
    background-color: darkcyan;
    color: white;
}
.box-3{
    background-color: darkslategray;
    color: white;
}

.btn{
    background-color: white;
    border-radius: 1rem;
    padding: 0.7rem;
    width: 150px;

}

.luxury-btn{
    color: hsl(179, 100%, 13%);
}

.suv-btn{
    color: hsl(184, 100%, 22%);
}

.sedans-btn{
    color : hsl(31, 77%, 52%)
}

#title{
    margin: 30px;
}
#bo{
    margin: 40px;
}
#para{
    margin: 40px;
}

#de{
    margin: 30px;
}
#demo{
    margin: 40px;
}
#sa{
    margin: 40px;
}
#me{
    margin: 30px;
}
#iden{
    margin: 40px;
}
#demobox{
    margin: 40px;
}
#in{
    margin-top: 100px;
    margin-left: 40px;
}
#ij{
    margin: 100px;
    margin-left: 40px;
}
#ip{
    margin: 100px;
    margin-left: 40px;
}